<header class="main-header">
  <nav
    class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light"
    id="ftco-navbar"
  >
    <div class="container-fluid">
      <a class="navbar-brand d-flex align-items-center" href="/index.html">
        <img src="/assets/Logo.png" alt="Edwards Landscape Group logo" />
        <span class="brand-text">Edwards Landscape Group</span>
      </a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#ftco-nav"
        aria-controls="ftco-nav"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="fa fa-bars"></span>
      </button>
      <div class="collapse navbar-collapse" id="ftco-nav">
        <ul class="navbar-nav ml-auto align-items-center">
          <li class="nav-item"><a href="/about.html" class="nav-link">About</a></li>
          <li class="nav-item dropdown nav-services">
            <a
              href="/services.html"
              class="nav-link nav-services-toggle"
              id="servicesDropdown"
              aria-haspopup="true"
              aria-expanded="false"
            >
              Services
              <span class="nav-caret" role="button" aria-label="Toggle services menu" tabindex="0"
              ></span>
            </a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="servicesDropdown">
              <a class="dropdown-item" href="/services/mowing.html">Mowing</a>
              <a class="dropdown-item" href="/services/mulching.html">Mulching</a>
              <a class="dropdown-item" href="/services/bed-maintenance.html">Bed Maintenance</a>
              <a class="dropdown-item" href="/services/aeration-seeding.html"
                >Aeration &amp; Seeding</a
              >
              <a class="dropdown-item" href="/services/fertilization-weed-control.html"
                >Fertilization &amp; Weed Control</a
              >
              <a class="dropdown-item" href="/services/fall-winter-cleanup.html"
                >Fall &amp; Winter Clean Up</a
              >
              <a class="dropdown-item" href="/services/tree-shrub-care.html"
                >Tree &amp; Shrub Care</a
              >
              <a class="dropdown-item" href="/services/hardscaping.html">Hardscaping</a>
              <a class="dropdown-item" href="/services/landscaping.html">Landscaping</a>
            </div>
          </li>
          <li class="nav-item"><a href="/gallery.html" class="nav-link">Gallery</a></li>
          <li class="nav-item"><a href="/blog.html" class="nav-link">Blog</a></li>
          <li class="nav-item"><a href="/contact.html" class="nav-link">Contact</a></li>
          <li class="nav-item social-link">
            <a
              href="https://www.facebook.com/profile.php?id=61571902403468"
              class="nav-link"
              target="_blank"
              aria-label="Facebook"
              rel="noopener"
            >
              <i class="fa fa-facebook"></i>
            </a>
          </li>
          <li class="nav-item social-link">
            <a
              href="https://www.instagram.com/edwardslandscapegroup/"
              class="nav-link"
              target="_blank"
              aria-label="Instagram"
              rel="noopener"
            >
              <i class="fa fa-instagram"></i>
            </a>
          </li>
          <li class="nav-item nav-cta">
            <a href="/contact.html" class="btn btn-primary">Book Service</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
