<div class="top-bar">
  <div class="container d-flex align-items-center justify-content-between">
    <div class="top-bar__contact">
      <span class="top-bar__label">Call</span>
      <a href="tel:14349422455">(434) 942-2455</a>
      <span class="divider">|</span>
      <a href="mailto:Will@edwardscapes.com">Will@edwardscapes.com</a>
    </div>
    <a class="top-bar__cta" href="contact.html">Get a quote today</a>
  </div>
</div>
